.arrow-back-circle {
  color: #0c9be2;
  font-size: 2rem;
}

.count {
  height: 20px;
  width: 20px;
  padding-left: 5px;
  background-color: #fe8235;
  color: #fff;
  top: -5px;
  right: -11px;
  border-radius: 10px;
  font-size: 14px;
}
