.upload-btn {
  bottom: 1rem;
  right: 5rem;
  border: 0.3rem solid #fff;
}

.profile-photo {
  width: 15rem;
  height: 15rem;
}

.diagnosis-body {
  border: 1px solid #3ad4d1;
  color: #3ad4d1;
  border-radius: 1rem;
}

.counselor-body {
  border: 1px solid #929dff;
  color: #929dff;
  border-radius: 1rem;
}

.psychologist-body {
  border: 1px solid #ff9a3e;
  color: #ff9a3e;
  border-radius: 1rem;
}

.psychiatrist-body {
  border: 1px solid #89c6f4;
  color: #89c6f4;
  border-radius: 1rem;
}
