$blueLagoon: #0c9be2;
$white: #ffffff;
$block: #371b34;
$blueSecondary: #1d51fe;
$manatee: #8c8fa5;
$slotbooked: #d0d0d2;
$athensGray: #f3f4f8;
$mirage: #172331;
$linkWater: #e6eff9;
$buttercup: #efa315;
$heliotrope: #fe7dff;
$persimmon: #ff6b5a;
$conifer: #96da45;
$solitude: #e8f5ff;
