<div class="wrapper">
    <div id="formContent" *ngIf="mobileFormEnable">
        <!-- Icon -->
        <div class="logo">
            <img src="../../../../../assets/MainLogo.svg" alt="logo" />
            <p>FORGOT PASSWORD</p>
        </div>

        <!-- Login Form -->
        <form [formGroup]="mobile_number_form" (ngSubmit)="verifyMobileNumber()">
            <div class="form-group">
                <label class="labelName" for="mobile">Mobile Number</label>
                <input type="tel" maxlength="10" formControlName="mobile_number" appIntegerInput
                       [ngClass]="{'invalid-form-control': mobile_number_form.get('mobile_number').dirty && mobile_number_form.get('mobile_number').invalid}"
                       [appMin]="6000000000" [appMax]="9999999999" [appRange]="[6000000000, 9999999999]"
                       class="form-control" placeholder="Enter Mobile Number">
            </div>


            <button type="submit" class="btn loginBtn" [disabled]="!mobile_number_form.valid">Send Verification Code</button>
        </form>



    </div>

    <div id="formContent" *ngIf="verificationCodeEnable">
      <!-- Icon -->
      <div class="logo">
          <img src="../../../../../assets/MainLogo.svg" alt="logo" />
          <p>Please enter the 6 digit code sent to your mobile number +91 {{mobile_number_form.get('mobile_number').value}}</p>
      </div>

      <!-- Login Form -->
      <form [formGroup]="otp_form" (ngSubmit)="verifyForgotPasswordOtp()">
          <div class="form-group otpInputBox">
              <ng-otp-input [formCtrl]="otp" [config]="{length:6, allowNumbersOnly: true}"></ng-otp-input>
          </div>

          <p class="sendOtp centerAlignInfo">{{timeLeftInMinFormat}}</p>
          <p class="sendOtp centerAlignInfo">If you don’t receive code! <a
              [ngClass]="{'in-active-a': timeLeft > 0, 'active-a': timeLeft < 0}" (click)="verifyMobileNumber()">Resend</a></p>


          <button type="submit" [disabled]="!otp_form.valid" class="btn loginBtn">Submit</button>
      </form>
    </div>

    <div id="formContent" *ngIf="passwordChangeEnabled">
      <!-- Icon -->
      <div class="logo">
          <img src="../../../../../assets/aemsNewLogo.png" alt="logo" />
          <p>RESET PASSWORD</p>
      </div>

      <!-- Login Form -->
      <form [formGroup]="password_form" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label class="labelName" for="mobile">New Password</label>
          <input type="text"formControlName="new_password"
                 [ngClass]="{'invalid-form-control': password_form.get('new_password').dirty && password_form.get('new_password').invalid}"
                 class="form-control" placeholder="Enter New Password">
        </div>

        <div class="form-group">
          <label class="labelName" for="mobile">Confirm Password</label>
          <input type="text" formControlName="confirm_password"
                 [ngClass]="{'invalid-form-control': password_form.get('confirm_password').dirty && password_form.get('confirm_password').invalid}"
                 class="form-control" placeholder="Repeat Password">
        </div>

        <button type="submit" [disabled]="!password_form.valid" class="btn loginBtn">Submit</button>
      </form>
    </div>
</div>
