$torch-red:var(--torch-red);
$blue-lagoon:var(--blue-lagoon);
$alabaster:var(--alabaster);
$silver:#C5C5C5;
$mine-shaft:var(--mine-shaft);
$white:var(--white);
$alto:var(--alto);
$storm-gray:var(--storm-gray);
$black:var(--black);
$snuff:var(--snuff);
$mercury:var(--mercury);
$geyser:var(--geyser);
$indigo:#6259CA;
$iron:var(--iron);
$zanah:#C8E6C9;
$cape-honey:#FEEDAF;
$spicy-mix:#8A5340;
$green:#18E614;
$mercury:var(--mercury);
$green-pea:#256029;
$pastel-pink:#FFCDD2;
$text-color: var(--text-color);
$grid-pagination-button: var(--grid-pagination-button);
$grid-table-th: var(--grid-table-th);
$list-view-hover-bg-color: var(--list-view-hover-bg-color);
$list-view-hover-text-color: var(--list-view-hover-text-color);
$mat-disabled: var(--mat-disabled);
$athensGray: var(--athensGray);
$goldenTainoi:#FECA57;
$ghost:#CED4DA;
$tabs-back: var(--tabs-back);
$blue-chill:#0EA59E;
$tan-Hide:#FA9464;
$lavender-Rose:#F993F9;
$medium-Purple:#8A48EF;
$emerald:#6ACE7A;
$cornflower-Blue:#6AB4F0;
$burnt-sienna:#E67844;
$vip-silver:#C0C0C0
