<div class="row createRoles ">
    <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6 pl-0">

        <form class="marginTop20" [formGroup]='passwordPolicyForm'>
            <h2 class="subHeading">Password Management</h2>
            <div class="form-group">
                <label class="userDetailsLabel" for="pwdexpr">Auto-expire in</label>
                <input type="number" class="form-control userInput" id="pwdexpr"
                       formControlName='passwordExpiresIn' [appRange]='[0, 365]'
                       [ngClass]="{'invalid-field': formSubmitted && passwordPolicyForm.get(['passwordExpiresIn']).hasError('required')}">
                <div class="invalid-feedback" *ngIf="passwordPolicyForm.get('passwordExpiresIn')?.errors?.range"
                  tooltip="Must be between 0 and 365" placement="left">
                  Must be between 0 and 365
                </div>
            </div>
            <div class="form-group">
                <label class="userDetailsLabel" for="pwdhstry">Enforce Password History</label>
                <input type="number" class="form-control userInput" id="pwdhstry"
                       formControlName='enforcePasswordHistory' [appRange]='[0, 3]'
                       [ngClass]="{'invalid-field': formSubmitted && passwordPolicyForm.get(['enforcePasswordHistory']).hasError('required')}">

                <div class="invalid-feedback" *ngIf="passwordPolicyForm.get('enforcePasswordHistory')?.errors?.range"
                  tooltip="Must be between 0 and 3" placement="left">
                  Must be between 0 and 3
               </div>
            </div>


            <div class="form-group">
                <label class="userDetailsLabel" for="maxinvalidlgnattempts">Maximum Invalid Login Attempts    </label>
                <input type="number" class="form-control userInput" id="maxinvalidlgnattempts"
                       formControlName='minInvalidLoginAttempts' [appRange]='[0, 99]'
                       [ngClass]="{'invalid-field': formSubmitted && passwordPolicyForm.get(['minInvalidLoginAttempts']).hasError('required')}">

                <div class="invalid-feedback" *ngIf="passwordPolicyForm.get('minInvalidLoginAttempts')?.errors?.range"
                  tooltip="Must be between 0 and 99" placement="left">
                  Must be between 0 and 99
                </div>
            </div>

            <h2 class="subHeading mb-4">Rules for Setting Passwords</h2>

            <div class="form-group">
                <label class="userDetailsLabel" for="minPwdLength">Minimum Password Length   </label>
                <input type="number" class="form-control userInput" id="minPwdLength"
                       formControlName='minPasswordLength' [appRange]='[6, 20]'
                       [ngClass]="{'invalid-field': formSubmitted && passwordPolicyForm.get(['minPasswordLength']).hasError('required')}">
                <div class="invalid-feedback" *ngIf="passwordPolicyForm.get('minPasswordLength')?.errors?.range"
                     tooltip="Must be between 6 and 20" placement="left">
                     Must be between 6 and 20
                </div>
            </div>

        </form>

    </div>
    <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6 pl-0">
        <form class="marginTop20" [formGroup]='passwordPolicyForm'>
            <h2 class="subHeading mb-4">Password Complexity Requirement :</h2>
            <div class="scroolDiv" formArrayName='passwordComplexityReq'>
              <div class="form-group" *ngFor="let control of passwordComplexityReqArrayControls; let i = index">
                  <div class="checkboxRow">
                      <div class="custom-control custom-checkbox mb-3">
                          <input type="checkbox" [value]='i' (change)='onCheck($event);' class="custom-control-input"
                                 id="customCheck" [formControlName]='i' id="chk_bk_{{i}}">
                          <label class="custom-control-label" for="chk_bk_{{i}}">{{passWordComplexityRequirements[i].label}}</label>
                      </div>

                  </div>
              </div>
            </div>
        </form>
    </div>
<div class="col-md-12">
  <form class="marginTop20" [formGroup]='passwordPolicyForm' (ngSubmit)='submit()'>

    <button *ngIf='dataService.addeditPermission("Password Policy")' class="btn createNewRoleBtn" type="submit">
      {{ buttonLabel }}
    </button>
  </form>
</div>
</div>
