<div class="main">

    <div class="container-fluid" style="padding: 0;">
        <div class="row">

            <!-- Right section start  -->
            <div class="rightSection">

                <!-- heading section start  -->

                <!-- heading section end  -->

                <!-- create role section start  -->
                <div class="row createRoles marginTop20" *ngIf="!is_edit">
                    <h2 class="subTitle" *ngIf="!(dataService.userData | async).patient_id">{{ (dataService.userData |
                        async).display_name}} <mat-icon class="custom-diagram" (click)="navigateToHierarchy()"></mat-icon></h2>
                    <h2 class="subTitle" *ngIf="(dataService.userData | async).patient_id">{{ (dataService.userData |
                        async).patient_name}}</h2>

                    <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 pl-0 marginTop20">
                        <div class="userProfileUpload">
                            <img [src]="(dataService.profilePic | async) || '../assets/Profile-photo.svg'"
                                class="img-fluid" alt="">
                            <!-- <div class="clickChangePhoto">
                                <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required=""
                                    capture>
                                <p>Click to change photo</p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 pr-0 marginTop20">
                        <div class="row profileSettings">
                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 pl-0 marginTop20">
                                <label class="userDetailsLabel">First Name*</label>
                                <p class="userDetails">{{userInfo?.first_name}}</p>
                            </div>

                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 pl-0 marginTop20">
                                <label class="userDetailsLabel">Last Name*</label>
                                <p class="userDetails">{{userInfo?.last_name}}</p>
                            </div>

                            <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 pl-0 marginTop20">
                                <label class="userDetailsLabel">DOB</label>
                                <p class="userDetails" *ngIf="!(dataService.userData | async).patient_id">{{
                                    userInfo?.date_of_birth | date:'dd/MM/YYYY' }}</p>
                                <p class="userDetails" *ngIf="(dataService.userData | async).patient_id">{{
                                    userInfo?.dob | date:'dd/MM/YYYY' }}</p>
                            </div>

                            <div *ngIf="!is_edit"
                                class="col-md-1 col-sm-1 col-lg-1 col-xl-1 pr-0 marginTop20 text-right"
                                (click)="is_edit = true">
                                <mat-icon class="custom-pan"></mat-icon>
                            </div>


                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 pl-0 marginTop20">
                                <label class="userDetailsLabel">Gender</label>
                                <p class="userDetails">{{userInfo?.gender_name}}</p>
                            </div>

                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 pl-0 marginTop20">
                                <label class="userDetailsLabel">Mobile Number</label>
                                <p class="userDetails">{{userInfo?.mobile_number}}</p>
                            </div>

                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 pl-0 marginTop20">
                                <label class="userDetailsLabel">Email ID</label>
                                <p class="userDetails">{{userInfo?.email_id}}</p>
                            </div>

                        </div>
                    </div>
                </div>
                <form *ngIf="is_edit" [formGroup]="profileForm" (ngSubmit)="submit()">
                    <div class="row createRoles marginTop20">
                        <h2 class="subTitle">{{ (dataService.userData | async).display_name}}
                          <mat-icon class="custom-diagram" (click)="navigateToHierarchy()"></mat-icon>
                        </h2>
                        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 pl-0 marginTop20">
                            <div class="userProfileUpload">
                                <img [src]="(dataService.profilePic | async) || '../assets/Profile-photo.svg'"
                                    class="img-fluid" alt="">
                                <div class="clickChangePhoto">
                                  <p (click)="openImageUploadDialog()"><i class="fa fa-upload"></i></p>
                                </div>
                              </div>
                              <!-- <div class="invalid-feedback" *ngIf="formSubmitted && !(dataService.profilePic | async)" >
                                Please upload profile picture
                              </div> -->
                        </div>

                        <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 pr-0 marginTop20">
                            <div class="row profileSettings">
                                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 pl-0 marginTop20">
                                    <label class="userDetailsLabel">First Name*</label>
                                    <input type="text" class="form-control profileInput" formControlName="first_name"
                                           [ngClass]="{'invalid-form-control': profileForm.get('first_name').touched && profileForm.get('first_name').invalid}">
                                </div>

                                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 pl-0 marginTop20">
                                    <label class="userDetailsLabel">Last Name*</label>
                                    <input type="text" class="form-control profileInput" formControlName="last_name"
                                           [ngClass]="{'invalid-form-control': profileForm.get('last_name').touched && profileForm.get('last_name').invalid}">
                                </div>

                                <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 pl-0 marginTop20">
                                    <label class="userDetailsLabel">DOB*</label>
                                    <mat-form-field appearance="fill" class="example-form-field">
                                        <input matInput [matDatepicker]="datepicker" formControlName="date_of_birth">
                                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker></mat-datepicker>
                                    </mat-form-field>
                                    <div class="invalid-feedback"
                                         tooltip="Date of birth is required" placement="bottom"
                                         *ngIf="profileForm.get('date_of_birth').touched && profileForm.get('date_of_birth').invalid" >
                                      Date of birth is required
                                    </div>
                                </div>

                                <div *ngIf="is_edit"
                                    class="col-md-1 col-sm-1 col-lg-1 col-xl-1 pr-0 marginTop20 text-right"
                                    (click)="is_edit = false">
                                    <i class="fa fa-times"></i>
                                </div>

                                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 pl-0 marginTop20">
                                    <label class="userDetailsLabel">Gender*</label>
                                    <mat-select class="form-control profileInput" formControlName="gender"
                                    [ngClass]="{'invalid-form-control': profileForm.get('gender').touched && profileForm.get('gender').invalid}">
                                        <mat-option value="1">Male</mat-option>
                                        <mat-option value="2">Female</mat-option>
                                        <mat-option value="3">Other</mat-option>
                                    </mat-select>
                                </div>

                                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-5 pl-0 marginTop20">
                                    <label class="userDetailsLabel">Mobile Number*</label>
                                    <input type="text" class="form-control profileInput"
                                        formControlName="mobile_number"
                                        [ngClass]="{'invalid-form-control': profileForm.get('mobile_number').touched && profileForm.get('mobile_number').invalid}">
                                </div>

                                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4  pl-0 marginTop20">
                                    <label class="userDetailsLabel">Email ID</label>
                                    <input type="text" class="form-control profileInput" formControlName="email_id"
                                    [ngClass]="{'invalid-form-control': profileForm.get('email_id').touched && profileForm.get('email_id').invalid}">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 p-0 marginTop20">
                            <hr>
                        </div>


                        <div class="col-md-12 p-0 marginTop20">
                            <div class="submitDetails">
                                <button class="btn createRoleBtn" type="submit">Save Changes</button>
                            </div>
                        </div>


                    </div>
                </form>


            </div>



            <!-- create-role section end  -->



        </div>
        <!-- Right section end  -->
    </div>
</div>
<!-- </div> -->
