<div class="row">
  <div class="col-md-9 col-sm-9 col-lg-9 col-xl-4 ">
    <form class="searchDoctor" [formGroup]="searchForm">
      <input type="search" name="search" placeholder="Search tickets by ticket number" class="searchRole" formControlName="search"
             appIntegerInput maxlength="12" minlength="12"
             (blur)="onBlurResetGrid()" (keydown.enter)="searchOnEnter()">
      <!-- <mat-icon class="custom-search-icon"></mat-icon> -->
    </form>
  </div>
  <div class="col-md-3 col-sm-3 col-lg-3 col-xl-2 ">
    <a><button type="button" class="btn createRole" (click)="addTicket()">Add Ticket</button></a>
  </div>
</div>

<app-common-data-table #ticketsGrid [colModel]='cols' gridId='ticketsGrid' sField='updatedDate'
          sOrder='desc' [lazyLoad]="false" selectType='none' [localData]="[]" idColumn='ticket_id'
          [rowsPerPage]='rowsPerPage' paginationpos='bottom' (onCustomPageAndFilterEvent)="onPageChangeEvent($event)"
          [actionColumnTemplate]="ticketActionTemplate"
          [actionColumnRequired]="true" [colFormatterTemplate]="{'ticket_mode': ticketModeFormatter, 'status': ticketStatusFormatter, 'opening_date': ticketOpeningDateFormatter}">
  <ng-template #ticketActionTemplate let-gridData='griddata'>
    <button (click)="editTicket(gridData)" type="button"
      class="butonclover edit" data-toggle="tooltip" data-placement="top" title="Edit Ticket">
      <span class="actionicons iconscls text-warning">
        <i class="fa fa-pencil"></i>
      </span>
    </button>
    <button (click)="addVisit(gridData)" type="button"
      class="butonclover edit" data-toggle="tooltip" data-placement="top" title="Add Visit" *ngIf="gridData.status != 3" >
      <span class="actionicons iconscls text-warning">
        <i class="fa fa-clipboard"></i>
      </span>
    </button>
  </ng-template>
  <ng-template #ticketModeFormatter let-gridData='griddata'>
    {{gridData.ticket_mode == 2 ? 'By Auditor' : 'Self'}}
  </ng-template>
  <ng-template #ticketStatusFormatter let-gridData='griddata'>
    <!-- {{gridData.status == 1 ? 'Pending' : 'Pending'}} -->
    {{ticketStatusUI[gridData.status]}}
  </ng-template>
  <ng-template #ticketOpeningDateFormatter let-gridData='griddata'>
    {{gridData.opening_date | date: 'dd-MM-YYYY'}}
  </ng-template>
</app-common-data-table>
