@import "../../../theme/custom.scss";
@import "../../../theme/colors.scss";

ion-tab-button {
  --background-focused: #267392 !important;
  --color-selected: #267392 !important;
  --background: #fff;
}

ion-tab-bar {
  --background: #fff;
  border: none;
}

.custom-home,
.custom-appointment,
.custom-profile {
  width: 20px;
  height: 20px;
}
